<ion-view>
	<ion-nav-title ui-sref="leftdrawer.home">
		<div class=" appLogo"></div>
	</ion-nav-title>
	<ion-nav-buttons side="left">
		<button  class="button button-icon ion-ios-arrow-back  button-tap-area button-clear" nav-direction="back" ng-click="goBack()"></button>
	</ion-nav-buttons>

	<ion-content class="calm-bg cart-view">
		<div class="header-space"></div>
		<ion-list>
			<h3>Change Password</h3>
			<div class="user-register">

				<label class="item item-input item-floating-label">
					<span class="input-label">Password</span>
					<input type="password" placeholder="Password" ng-model="user.password">
				</label>
				<label class="item item-input item-floating-label">
					<span class="input-label">Confirm password</span>
					<input type="password" placeholder="Confirm password" ng-model="user.confirm">
				</label>

				<br/>
				<button class="button button-outline button-light button-custom" ng-click="changePassword()"> Confirm </button>
			</div>
		</ion-list>
	</ion-content>
</ion-view>
