<ion-view title='Thank you'>
	<ion-nav-buttons side="left">
		<button  class="button button-icon ion-ios-arrow-back button-clear  button-tap-area" ui-sref="leftdrawer.home"></button>
	</ion-nav-buttons>

	<ion-content class="calm-bg">
		<div class="header-space"></div>
		<ion-list>
			<div class=" container goodbye-container" >
				<p class="center" >Your order has been placed succesfully. You will receive a notification shortly with the status of your order</p><br/>
				<a translate = "order.ok" class="button button-outline button-light button-custom margin-button" ui-sref="leftdrawer.home"><i class="icon-left "></i>OK</a><br/>
			</div>
		</ion-list>
	</ion-content>
</ion-view>
