<ion-view title='<div class=" appLogo"></div>'>
	<ion-nav-buttons side="left">
		<button  class="button button-icon ion-ios-arrow-back button-clear button-tap-area" nav-direction="back" ng-click="goBack()"></button>
	</ion-nav-buttons>
	<ion-content class="calm-bg cart-view">
		<div class="header-space"></div>
		<div class="panel">
			<div class="panel-body account-panel payment-panel">
				<ul class="list">
					<div class="item item-divider">
						Payment Method
					</div>
					<label class="item item-radio" ng-repeat="method in paymentMethods" ng-click="setPayment(method)">
						<input type="radio" name="group" ng-checked="method.checked">
						<i class="radio-icon ion-checkmark"></i>
						<div class="item-content">
							<h2>{{method.title}}</h2>
						</div>

					</label>
				</ul>
			</div>
		</div>

		<div class="footer-space"></div>

	</ion-content>

	<ion-footer-bar class="bar-stable custom-footer fade-in-up" >
		<div class="row">
			<div class="col col-20"></div>
			<div class="col"><button translate="" class="button button-calm footer-button" ng-click="savePayment()">Save</button></div>
			<div class="col col-20"></div>
		</div>
	</ion-footer-bar>
</ion-view>
