<ion-view>
	<ion-nav-title ui-sref="leftdrawer.home">
		<div class=" appLogo"></div>
	</ion-nav-title>
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear ion-ios-arrow-back  button-tap-area" nav-direction="back" ui-sref="leftdrawer.home" >
		</button>
	</ion-nav-buttons>
	<ion-nav-buttons side="right">
		<button class="button button-icon ion-ios-cart" nav-direction="forward" ui-sref="cart" ></button>
		<span ng-if="cartBadge>0" class="badge badge-calm " ui-sref="cart">{{cartBadge}}</span>
	</ion-nav-buttons>

	<ion-content class="calm-bg">
		<div class="header-space" style="  padding: 10px;"></div>

		<div class="panel"  ng-repeat="product in products" >
			<div class="panel-body wishlist-panel"
				 ng-click="goToProduct(product.product_id,$event)">
				<i class="fa fa-ellipsis-v fa-2x add-to-whishlist" ng-click="openPopover(product.product_id,$event)"></i>
				<div class="product-picture">
					<img class="item-photo "  ng-src="{{product.thumb_image}}"  >
				</div>
				<div class="product-details">
					<h2 class="item-title" >{{ product.name}}</h2>
					<div class="wishlist-price-container" ng-show="{{product.special!==null}}">
						<div class="product-old-price"><span>{{product.price}}</span></div>
						<div class="product-price"><span>{{product.special}}</span></div>
					</div>
					<div class="wishlist-price-container" ng-show="{{product.special===null}}">
						<div class="product-old-price"><span> </span></div>
						<div class="product-price"><span>{{product.price}}</span></div>
					</div>
				</div>

			</div>
		</div>
		<div class="footer-space"></div>
	</ion-content>
	<ion-footer-bar ng-hide="badgeTest === 0" class="bar-stable custom-footer fade-in-up" >
		<div class="row">
			<div class="col col-20"></div>
			<div class="col"><button translate="menu.go_to_cart" class="button button-calm footer-button"  ui-sref="cart">Go to Cart</button></div>
			<div class="col col-20"></div>
		</div>
	</ion-footer-bar>
</ion-view>
